.vscode/settings.json
.obsidian/**/*.*
!.obsidian/plugins/**/*
!.obsidian/community-plugins.json



# Ignore Smart Connections folder
.smart-connections
.obsidian/plugins/copilot
.obsidian/plugins/obsidian-textgenerator-plugin
smart-chats/*.md